html {
    box-sizing: border-box;
}
* {
    box-sizing: inherit;
}
img {
    max-width: 100%;
    height: auto;
}
body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Barlow', 'Arial' sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: #333d4b;
    background-color: #fefcf7;
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }
.container{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

/* SITE HEADER */
.site-header {
    padding-top: 44px;
    padding-bottom: 43px;
}
.site-header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* SITE LOGO */
.site-logo:hover {
    opacity: 0.7;
}
.site-logo__img {
    display: block;
}
/* SITE NAVIGATION */
.sitenav__list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.sitenav__item:not(:last-child) {
    margin-right: 32px; 
}
.sitenav__link {
    font-size: 12px;
    line-height: 15px;
    font-weight: 700;
    letter-spacing: 0.9px;
    text-decoration: none;
    color: #83888b;
}
.sitenav__link:hover{
    color: aqua;
    transition: color 0.5s ease;
}
/* SITE HERO */
.site-hero {
    padding-top: 117px;
    padding-bottom: 116px;
    padding-left: 86px;
    background-image: url(../img/section-fon.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    background-color: rgb(216, 216, 216);
    border-radius: 10px;
}
.site-hero__content {
    max-width: 493px;
}
.site-hero__title {
    margin-top: 0;
    margin-bottom: 32px;
    font-family: 'Fraunces';
    font-size: 72px;
    line-height: 72px;
    font-weight: 900;
    color: #FEFCF7;
}
.site-hero__desc {
    width: 404px; 
    margin-top: 0;
    margin-bottom: 56px;
    color: #fefcf7;
    opacity: 0.8;
}
.site-primary-link {
    display: inline-block;
    padding: 15px 31px;
    font-family: 'Fraunces';
    font-size: 18px;
    line-height: 25px;
    font-weight: 900;
    text-decoration: none;
    color: #FEFCF7;
    background-color: #0E8784;
    border-radius: 6px;
}
.site-primary-link:hover{
    color: #000;
    background-color: #d3d3d2;
}
/* OUR COLLECTION */
.our-collection {
    padding-top: 136px;
    padding-bottom: 200px;
}
.our-collection__heading {
    margin: 0;
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 150px;
    line-height: 1.3px;
    text-align: center;
    color: #83888F;
}
.our-collection__list {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.our-collection__item {
    margin-top: 6px;
    max-width: 255px;
    text-align: center;
}
.our-collection__item:not(:last-child){
    margin-right: 30px;
}
.our-collection__img {
    margin-bottom: 71px;
}
.our-collection__content-heading {
    margin-top: 0;
    margin-bottom: 24px;
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
}
.our-collection__content-desc {
    margin: 0;
}
/* WHY CHOOSE US */
.why-choose-us {
    position: relative;
    z-index: 1;
    padding-top: 100px;
    padding-bottom: 317px;
    color: #FEFCF7;
    background-color: #2c343e;
    border-radius: 10px;
}
.why-choose-us__header {
    max-width: 529px;
    margin: 0 auto;
    text-align: center;
}
.why-choose-us__heading {
    margin-top: 0;
    margin-bottom: 32px;
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
}
.why-choose-us__desc {
    margin: 0;
    opacity: 0.8;   
}
.why-choose-us__list {
    position: absolute;
    z-index: 1;
    width: 100%;
    bottom: -151px;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.why-choose-us__item {
    width: 350px;
    padding: 72px 48px 48px 48px;
    text-align: center;
    background-color: #0e8784;
    border-radius: 8px; 
}
.why-choose-us__item:not(:last-child){
    margin-right: 30px;
}
.why-choose-us__item-heading {
    margin-top: 0;
    margin-bottom: 24px;
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
}
.why-choose-us__item-heading::before{
    display: block;
    width: 72px;
    height: 72px;
    margin: 0 auto;
    margin-bottom: 56px;
    background-repeat: no-repeat;
    content: '';
}
.why-choose-us__item-heading--shape::before{
    background-image: url(../img/coffe-tarif-1.svg);
}
.why-choose-us__item-heading--benefits::before{
    background-image: url(../img/coffe-tarif-2.svg);
}
.why-choose-us__item-heading--shupping::before{
    background-image: url(../img/coffe-tarif-3.svg);
    background-position: center bottom;
}
/* HOW IT WORKS */
.how-it-works {
    padding-top: 351px;
    padding-bottom: 200px;
    padding-left: 85px;
}
.how-it-works__heading {
    margin-top: 0;
    margin-bottom: 178px;
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #83888F;
}
.how-it-works__list {
    display: flex;
    margin: 0;  
    margin-bottom: 64px;
    padding: 0;
    list-style-type: none;
    counter-reset: item;
}
.how-it-works__item {
    max-width: 380px;
    position: relative;
    z-index: 1;
    counter-increment: item;
}
.how-it-works__item:not(:last-child):before {
    width: 100%;
    height: 1px;
    position: absolute;
    z-index: 1;
    top: -82px;
    display: block;
    background-color: #fdd6ba;
    content: '';
}
.how-it-works__item::after {
    width: 31px;
    height: 31px;
    position: absolute;
    z-index: 1;
    top: calc(-82px - 15px);
    background-color: #FEFCF7;
    border: 1px solid #0E8784;
    border-radius: 50%;
    content: '';
}
.how-it-works__item:not(:last-child){
    padding-right: 95px;
} 
.how-it-works__item-heading{
    max-width: 25px;
    margin-top: 0;
    margin-bottom: 42px;
    font-family: 'Fraunces';
    font-size: 32px;
    line-height: 36px;
    font-weight: 900;
    color: #333D4B;
}
.how-it-works__item-heading::before{
    display: block;
    margin-bottom: 38px;
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FDD6BA;
    content: '0' counter(item);
}

/* SITE FOOTER */
.site-footer {
    width: 1280px;
    margin: 0 auto;
    background-color: #2C343E;
}
.site-footer__container {
    padding-top: 47px;
    padding-bottom: 47px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.site-logo:hover {
    opacity: 0.5;
    transition: opacity 0.5s ease;
}
.site-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;  
}
.site-list__item {
    margin-left: 32px;
}
.site-list__item-links {
    color: #83888F;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 0.5s ease;
}
.site-list__item-links:hover{
    color: lightgreen;
}
.site-footer__logos {
    display: flex;
    align-items: center;
}
.site-footer__logos-link{
    text-decoration: none;
}
.site-footer__logo {
    margin-right: 24px;
}   
.site-footer__logo:hover{
    background-color: #0E8784;
}